.form{
    width: 400px;
    height: auto;
    background-color:rgb(255, 255, 255);
    border: 1px groove;
    border-radius: 3px;
    display: inline-block;
    margin: 10px;
    padding: 5px;
}

.centeredTable{
    margin: 10px;
    border: 3px solid #31acb4;
}

body{
    background-color: rgb(197, 226, 226);
}
#container{
    
    width:400px;
    margin: 0 auto;
}
